.review_title {
  text-align: center;
}
.review_title h3 {
  font-family: "Water Brush";
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 4.1rem;
  color: #cd1a40;
}
.review_title h1 {
  font-family: "Work Sans";
  font-weight: 200;
  font-size: 4rem;
  line-height: 4.6rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.review_title p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #1e1e1e;
}
.review_container {
  margin: 0rem 12rem;
  margin-top: 8rem;
  border-radius: 2px;
  background: linear-gradient(90deg, #cd1a40 -11%, #ff803c 109.5%);
}
.review_img {
  position: relative;
  top: -1.6rem;
  left: 2.5rem;
  bottom: 0;
  right: 0;
}
.review_text {
  padding: 0rem 2.5rem 2.5rem 2.5rem;
  text-align: center;
}
.review_text p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 1.17rem;
  line-height: 1.6rem;
  color: #ffffff;
}
.review_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 16rem;
}
.review_ellipse h1 {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.7rem;
  color: #1e1e1e;
}
.review_ellipse p {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #1e1e1e;
}
